$sizes: (
    "xxs": $space-xxs,
    "xs": $space-xs,
    "s": $space-s,
    "m": $space-m,
    "l": $space-l,
    "xl": $space-xl,
    "xxl": $space-xxl,
);

.i-b {
    display: inline-block;
}

.i-f {
    display: inline-flex;
}

// Padding
@each $key,
$value in $sizes {

    // All
    .p-#{$key} {
        padding: $value;
    }

    // Vertical axis
    .p-v-#{$key} {
        padding-top: $value;
        padding-bottom: $value;
    }

    // Horizontal axis
    .p-h-#{$key} {
        padding-left: $value;
        padding-right: $value;
    }

    // Top
    .p-t-#{$key} {
        padding-top: $value;
    }

    // Bottom
    .p-b-#{$key} {
        padding-bottom: $value;
    }

    // Left
    .p-l-#{$key} {
        padding-left: $value;
    }

    // Right
    .p-r-#{$key} {
        padding-right: $value;
    }
}

// Margin
@each $key,
$value in $sizes {

    // All
    .m-#{$key} {
        margin: $value;
    }

    // Vertical axis
    .m-v-#{$key} {
        margin-top: $value;
        margin-bottom: $value;
    }

    // Horizontal axis
    .m-h-#{$key} {
        margin-left: $value;
        margin-right: $value;
    }

    // Top
    .m-t-#{$key} {
        margin-top: $value;
    }

    // Bottom
    .m-b-#{$key} {
        margin-bottom: $value;
    }

    // Left
    .m-l-#{$key} {
        margin-left: $value;
    }

    // Right
    .m-r-#{$key} {
        margin-right: $value;
    }
}

.m-a {
    margin: auto;
}

.m-h-a {
    margin: 0 auto;
}

.m-v-a {
    margin: auto 0;
}

.m-l-a {
    margin-left: auto;
}

.m-r-a {
    margin-right: auto;
}

.m-t-a {
    margin-top: auto;
}

.m-b-a {
    margin-bottom: auto;
}

// Grid system for desktop (e.g. col-6), tablet (e.g. col-t-3) and mobile (e.g. col-m-12)
$grid__cols: 12;

@for $i from 1 through $grid__cols {
    .col-#{$i} {
        display: inline-block;
        vertical-align: top;
        width: calc(100 / calc($grid__cols / $i) - 1.1) * 1%;
        margin-left: 1.1%;

        &:first-child {
            margin-left: 0;
        }
    }

    .col-12 {
        margin-left: 0;
    }
}

@include tablet {
    @for $i from 1 through $grid__cols {
        .col-t-#{$i} {
            display: inline-block;
            vertical-align: top;
            width: calc(100 / calc($grid__cols / $i) - 1.1) * 1%;
            margin-left: 1.1%;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .col-t-12 {
        margin-left: 0;
    }
}

@include mobile {
    @for $i from 1 through $grid__cols {
        .col-m-#{$i} {
            display: inline-block;
            vertical-align: top;
            width: calc(100 / calc($grid__cols / $i) - 1.1) * 1%;
            margin-left: 1.1%;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .col-m-12 {
        margin-left: 0;
    }
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.bottom-nav {
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
    height : 8vh;
    .list-items {
        list-style: none;
        display: flex;
        position: relative;
        height: 100%;
        .pointer {
            position: absolute;
            left: 0;
            height: 100%;
            width: calc(100vw / 4);
            z-index: 100000000;
            transition: all 0.2s linear;
            border-color: transparent;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                width: 100%;
                top: 0;
                border-bottom: 8px solid #ff767d;
                border-radius: 0 0 30px 30px;
            }
            &::after {
                content: "";
                position: absolute;
                left: 0;
                width: 100%;
                bottom: 0;
                border-top: 8px solid #ff767d;
                border-radius: 30px 30px 0 0;
            }
        }
        .item {
            flex: 1 1 0px;
            position: relative;
            z-index: 2;
            .link {
                display: flex;
                height: 100%;
                width: 100%;
                line-height: 4.5;
                text-align: center;
                align-items: center;
                justify-content: center;
                svg {
                    transition: font-size 0.2s linear;
                    width: 1.4rem;
                    height: 1.4rem;
                }
            }
        }
    }
}
.header {
    background: $rausch;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4.5rem;
        width: 100%;
        svg {
            width: 100%;
            height: 100%;
        }
    }
}
.content {
    position: fixed;
    overflow-y: scroll;
    height: 84vh;
    top: 8vh;
    bottom: 8vh;
    left: 0;
    right: 0;
  }

