
.email-confirmation{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100vh;

}
.wrapper{
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
  padding: 50;
  p{
    max-width: 235px;
  }
}


.row{
  display: flex;
  gap: 8px;
  align-items: center;
}

.button {
  margin-top: 20px;
	padding: 15px;
	font-size: 18px;
	color: white;
	background-color: $rausch;
	border: 0;
	border-radius: 5px;
	margin: 10px;
	display: block;
	max-width: 200px;
	margin: auto;
	text-decoration: none;
  a{
    text-decoration: none;
    color: white !important
  }
}