.buy-btn {
	background: hsl(var(--hue), 98%, 80%);
	border: none;
	border-radius: 7px;
	cursor: pointer;
	color: $green;
	font: 600 1.05rem/1 "Nunito", sans-serif;
	letter-spacing: .05em;
	overflow: hidden;
	padding: 1.15em 3.5em;
	min-height: 3.3em;
	position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

	&--green {
		--hue: 175;
	}

	& + & {
		margin-top: 2.5em;
	}

	&__txt {
		position: relative;
		z-index: 2;
	}
}